@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui, sans-serif;
  background-color: #fceaff;
  padding: 40px;
  color: #333;
} 

#root {
  max-width: 800px;
  margin: 0 auto;
}
